header{
    margin-top: 0;
    background-image: url("./images/backgrounds/landing.jpg") ;
    }

.top{
    margin: auto;
    text-align: center;
    color: white;
    padding-bottom: 5%;
}
#happy{
    display: flex;
    flex-direction: column;
  
}

.container{
    display: flex;
    height: 200px;
}
#happy, #breakfast, #lunch, #dinner{
    width: 25%;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
}
#breakfast{
    background-image: url("./images/foodtop/breakfast.jpg");
}
#lunch{
    background-image:url("./images/foodtop/lunch.jpg");
    opacity: 0.5;
}
#dinner{
    background-image: url("./images/foodtop/dinner.jpg");
}
#happy >#hy{
    height: 100px;
    color: black;
    background-color: grey;
    padding-top: 50px;
}
#happy >#pt{
    height: 100px;
     background-color:#F15A29;
     color: white;
     padding-top: 50px;
}
 #breakfast, #lunch, #dinner{
     padding-top: 100px;
     color: honeydew;
 }

 .food{
     
     width: 50%;
     margin: auto;
     padding-top: 50px;  
     display: flex;
     height: 400px;
    
 }
 #food-image{
   
    box-shadow:   0 8px 16px 0 rgba(145, 143, 143, 0.2);
  
    height: 220px;
    width: 140%;
    border: 2px solid grey;
    box-sizing: content-box;
    display: block;
    text-align: center;
    margin-right: 20px; 
    margin-top: 50px;
   
   }
   #fastfoodimg{
       padding: 10px;
       text-align: center;
      
   }
   #foodp{
       float: right;
       height: 200px;
       width: 150px;
   } 
   
.food>#foodp{
   height: 210px;
   width: 250px;
}
.drinks{
    display: flex;
    width: 50%;
    margin: auto;
    padding-top: 10px;
}
.drinks>#desc{
    text-align: right;
    margin-right: 5px;
    height: 200px;
    width: 150px;
}
#drink-image{
    height: 110%;
    box-shadow: 00 8px 16px 0px grey;
    width: 265px;
    border: 2px solid grey;
    margin-left: 15%;
}
#drinkimg{
    text-align: center;
    padding: 10px;
}
button{
    color: red;
    border: 1px solid red;
    width: 200px;
    height: 50px;
    background-color: white;
}
    
   
        
    
    
 